<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ClockODoro</title>
  </head>
  <body>
    <section class="timer-container">
      <article class="pomodoro" id="clock-o-doro">
        <input type="number" id="interval-input" value="25" placeholder="interval-duration">
        <input type="number" id="break-input" value="5" placeholder="break-duration">
        <input type="button" id="start-button" value="Start">
        <input type="button" id="pause-button" value="Pause">
        <input type="button" id="resume-button" value="Resume">
        <input type="button" id="reset-button" value="Reset">
      </article>
    </section>

    <script src="/main.bundle.js"></script>
  </body>
</html>
